<div class="container container--medium">
    <div class="card">
        <form [formGroup]="addSongForm" (ngSubmit)="submit()" class="form">
            <div class="form__group">
                <label for="name" class="form__label">Name</label>
                <input class="form__control" type="text" id="name" name="name" formControlName="name">
                <div class="text-danger" *ngIf="addSongForm.get('name')?.invalid && (addSongForm.get('name')?.touched || addSongForm.get('name')?.dirty)">
                    <small *ngIf="addSongForm.get('name')?.hasError('required')">Name is required.&nbsp;</small>            
                    <small *ngIf="addSongForm.get('name')?.hasError('pattern')">Name is invalid.&nbsp;</small>            
                </div>
            </div>
            <div class="form__group">
                <label for="list" class="form__label">List (Please enter the uppercase single letter and for multiple separete with commas without space between them)</label>
                <input placeholder="eg.X,Y,Z" type="text" id="name" formControlName="singerList" class="form__control">
                <div class="text-danger" *ngIf="addSongForm.get('singerList')?.invalid && (addSongForm.get('singerList')?.touched || addSongForm.get('singerList')?.dirty)">
                    <small *ngIf="addSongForm.get('singerList')?.hasError('required')">List is required.&nbsp;</small>            
                    <small *ngIf="addSongForm.get('singerList')?.hasError('pattern')">List is invalid.&nbsp;</small>            
                </div>
            </div>
            <div class="form__group">
                <label for="type" class="form__label">Type</label>
                <select name="type" id="type" formControlName="type" class="form__control">
                    <option [value]="null" selected disabled>Select Type</option>
                    <option [value]="genre.value" *ngFor="let genre of genres | keyvalue">
                        {{genre.key}}
                    </option>
                </select>
                <div class="text-danger" *ngIf="addSongForm.get('type')?.invalid && (addSongForm.get('type')?.touched || addSongForm.get('type')?.dirty)">
                    <small *ngIf="addSongForm.get('type')?.hasError('required')">Type is required.&nbsp;</small>            
                </div>
            </div>
            <div class="text-center">
                <button class="button button--primary" type="submit">Add Song</button>
            </div>
        </form>
    </div>
</div>